#bg-canvas{
}
.background{
	width: 600px;
	height: 600px;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 2;	
	overflow: hidden;
}
.background-inner{
	background-image: url("../img/image 85.jpg");
	background-repeat: repeat;
	width: 3000px;
	height: 3000px;
	position: absolute;
	left: -1200px;
	top:-1200px;
	transition-duration: 200ms;
}
.main-ship{
	position: absolute;
	left: 1474px;
	top: 1310px;
	background: url('../img/main_ship.png') no-repeat;
	width: 50px;
	height: 273px;
}
.main-ship.case1{
	background-position: -50px 0px;
}
#hawk-wrapper{
	width: 600px;
	height: 600px;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 3;
}
#heli{
	width: 34px;
	height: 142px;
	position: absolute;
	left: 283px;
	top: 229px;
	/*transform*/
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	     -o-transform:rotate(180deg);
	        transform:rotate(180deg);
}
.rotor{
	width: 149px;
	height: 140px;
	position: absolute;
	left: 245px;
	top: 230px;
	background-image: url("../img/rotor_sprite.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.rotor.sprite{
	background-image: url("../img/rotor_sprite.png");
	background-position: -191px 0px;
}
.rocket{
	width: 12px;
	height: 45px;
	position: absolute;
	background-image: url("../img/missile-sprite.png");
	background-position: 0px 0px;
	background-size: 200px 59px;
}
.rocket.stage1{
	background-position: -12px 0px;
}
.rocket.stage2{
	background-position: -26px 0px;
}
.rocket.stage3{
	background-position: -36px 0px;
}
.rocket.stage4{
	background-position: -48px 0px;
}
.warship{
	width: 42px;
	height: 150px;
	position: absolute;
	background-image: url("../img/warship_sprite.png");
	background-position: 0px 0px;
}
.warship.case1{
	background-image: url("../img/warship_sprite.png");
	background-position: -40px 0px;
}
.warship.case2{
	background-image: url("../img/warship_sprite.png");
	background-position: -80px 0px;
}