#bg-canvas{
	background-image: url("../img/image 85.jpg");
	background-repeat: repeat;
	background-position: 0px 0px;
	transition-duration: 500ms;
}
#hawk-wrapper{
	width: 600px;
	height: 600px;
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 3;
}
#heli{
	width: 34px;
	height: 142px;
	position: absolute;
	left: 283px;
	top: 229px;
	/*transform*/
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	     -o-transform:rotate(180deg);
	        transform:rotate(180deg);
}
.rotor{
	width: 149px;
	height: 140px;
	position: absolute;
	left: 245px;
	top: 230px;
	background-image: url("../img/rotor_sprite.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.rotor.sprite{
	background-image: url("../img/rotor_sprite.png");
	background-position: -191px 0px;
}